.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}
#header .inner,
#footer .inner {
    width: 1190px;
    margin: 0 auto;
    @include desktop() {
        width: 100%;
        padding: 0 3vw;
    }
}
#container {
    .group-search .inner {
        width: 1190px;
        margin: 0 auto;
    }
    .inner {
        width: 1172px;
        margin: 0 auto;
        @include desktop() {
            width: auto;
            margin: 0 3vw;
        }
    }
}

.headline {
    font-size: 1.5em;
    font-weight: bold;
}
