@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/notosanskr-light.woff2") format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/notosanskr-regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/notosanskr-medium.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/notosanskr-bold.woff2") format("woff2");
    font-weight: 700;
}
