@charset "UTF-8";
:root {
  --swiper-navigation-size: 44px;
  --swiper-theme-color: #007aff;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/notosanskr-light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/notosanskr-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/notosanskr-medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/notosanskr-bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

html {
  font-size: 100%;
}

body {
  min-width: 1190px;
  font-size: 1.0625rem;
  font-family: "Noto Sans", "microsoft neogothic", "applegothic", "맑은 고딕", "malgun gothic", "dotum", "돋움", "Droid sans", sans-serif;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: -0.05em;
  color: #333;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

#header .inner,
#footer .inner {
  width: 1190px;
  margin: 0 auto;
}

#container .group-search .inner {
  width: 1190px;
  margin: 0 auto;
}
#container .inner {
  width: 1172px;
  margin: 0 auto;
}

.headline {
  font-size: 1.5em;
  font-weight: bold;
}

#header {
  position: absolute;
  width: 100%;
  min-width: 1190px;
  padding-top: 50px;
}
#header .group-gnb {
  position: relative;
  background: #fff;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #d6d6d6;
  z-index: 100;
}
#header .group-gnb > .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .group-gnb .logo-area a {
  display: block;
  width: 180px;
  height: 40px;
  background: url("../images/logo-incheon.png") no-repeat center/contain;
}
#header .group-gnb .gnb-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
#header .group-gnb .gnb-area .navi .gnb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .group-gnb .gnb-area .navi .gnb-list .gnb-item {
  height: 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#header .group-gnb .gnb-area .navi .gnb-list .gnb-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  height: 90px;
  font-size: 18px;
  color: #333;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
}
#header .group-gnb .gnb-area .navi .gnb-list .gnb-item:first-child .title-wrap::before {
  background-image: url("../images/header-gnb-depth01-illust01.png");
}
#header .group-gnb .gnb-area .navi .gnb-list .gnb-item:nth-child(2) .title-wrap::before {
  background-image: url("../images/header-gnb-depth01-illust02.png");
}
#header .group-gnb .gnb-area .navi .gnb-list .gnb-item:nth-child(3) .title-wrap::before {
  background-image: url("../images/header-gnb-depth01-illust03.png");
}
#header .group-gnb .gnb-area .navi .gnb-list .gnb-item:nth-child(4) .title-wrap::before {
  background-image: url("../images/header-gnb-depth01-illust04.png");
}
#header .group-gnb .gnb-area .navi .gnb-list .gnb-item:last-child .title-wrap::before {
  background-image: url("../images/header-gnb-depth01-illust05.png");
}
#header .group-gnb .gnb-area .navi .gnb-list .gnb-item.on .sub {
  display: block;
}
#header .group-gnb .gnb-area .navi .sub {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 100;
  margin-top: -1px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
#header .group-gnb .gnb-area .navi .sub .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1190px;
  margin: 0 auto;
}
#header .group-gnb .gnb-area .navi .sub .title-wrap {
  position: relative;
  width: 280px;
  padding: 2.5rem 0;
}
#header .group-gnb .gnb-area .navi .sub .title-wrap::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) calc(100% + 16px);
  opacity: 0.7;
  z-index: -1;
}
#header .group-gnb .gnb-area .navi .sub .title-wrap span {
  font-size: 15px;
}
#header .group-gnb .gnb-area .navi .sub .title-wrap .title {
  font-size: 3rem;
}
#header .group-gnb .gnb-area .navi .sub .sub-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#header .group-gnb .gnb-area .navi .sub .sub-list .sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d9e4ec;
}
#header .group-gnb .gnb-area .navi .sub .sub-list .sub-item .sub-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  padding: 0.25rem 1.75rem 0.25rem 1.75rem;
  font-size: 1.125rem;
  background: rgba(217, 228, 236, 0.5);
}
#header .group-gnb .gnb-area .navi .sub .sub-list .sub-item:last-child {
  border: 0;
}
#header .group-gnb .gnb-area .navi .sub .sub-list .sub2-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.25rem 1rem;
}
#header .group-gnb .gnb-area .navi .sub .sub-list .sub2-list .sub2-item {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
#header .group-gnb .gnb-area .navi .sub .sub-list .sub2-list .sub2-item a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.125rem;
  gap: 0.625rem;
  margin-right: 1rem;
}
#header .group-gnb .gnb-area .navi .sub .sub-list .sub2-list .sub2-item a::before {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background-color: #ddd;
}
#header .group-gnb .gnb-area .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
#header .group-gnb .gnb-area .btn-wrap button {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#header .group-gnb .gnb-area .btn-wrap .btn-more {
  background-image: url("../images/header-gnb-menuall.png");
}
#header .group-gnb .gnb-area .btn-wrap .btn-search {
  display: none;
  background-image: url("../images/header-gnb-search.png");
}
#header .group-gnb.active {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
#header .group-gnb.active .gnb-area .btn-wrap .btn-search {
  display: block;
}
#header .group-global {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
}
#header .group-global .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .group-global .global-area .global-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#header .group-global .global-area .global-list .global-item a {
  display: block;
  padding: 0 15px;
  line-height: 49px;
  font-size: 16px;
}
#header .group-global .global-area .global-list .global-item + .global-item {
  border-left: 1px solid #ddd;
}
#header .group-global .util-area .util-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .group-global .util-area .util-list .util-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
}
#header .group-global .util-area .util-list .util-item + .util-item {
  position: relative;
  margin-left: 2rem;
}
#header .group-global .util-area .util-list .util-item + .util-item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -1rem;
  width: 1px;
  height: 10px;
  background-color: #ddd;
}
#header .group-global .util-area .util-list .util-item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #0053b5;
  padding: 0 11px 0 26px;
  border-radius: 50px;
  background: url("../images/header-global-foreign.png") no-repeat 8px 50%/17px;
}
#header .group-global .util-area .util-list .util-item:last-child select {
  padding: 0 10px 0 4px;
  border: none;
  height: 28px;
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #333;
}
#header .group-search .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  height: 160px;
  padding: 1rem 0;
}
#header .group-search .logo-area {
  display: block;
  width: 173px;
  height: 27px;
  background: url("../images/header-logo-incheondream.svg") no-repeat center/cover;
}
#header .group-search .search-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  max-width: 680px;
  margin: 1.5rem;
  height: 60px;
}
#header .group-search .search-area .search-wrap {
  position: relative;
  padding: 5px 3rem 5px 1rem;
  background-color: #fff;
  border: 2px solid #0053b5;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0.25rem 0.625rem rgba(12, 24, 58, 0.13);
          box-shadow: 0 0.25rem 0.625rem rgba(12, 24, 58, 0.13);
}
#header .group-search .search-area .input-text {
  display: block;
  width: 100%;
  height: 2.75rem;
  font-size: 1.125rem;
  font-weight: 400;
  padding-left: 0.75rem;
  border: none;
}
#header .group-search .search-area .btn-submit {
  position: absolute;
  top: 50%;
  right: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/header-search-btn.png") no-repeat center;
}
#header .group-search .search-area::before {
  content: "";
  display: block;
  position: absolute;
  left: -36px;
  top: -30px;
  z-index: 0;
  width: 81px;
  height: 52px;
  background-image: url("../images/header-search-star.png");
  background-repeat: repeat-y;
}
#header .group-search .weather-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
#header .group-search .weather-area .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .group-search .weather-area .data img {
  width: 48px;
  height: 48px;
  margin-right: 0.5rem;
}
#header .group-search .weather-area .data .temper {
  font-weight: 600;
}
#header .group-search .weather-area .data .temper em {
  font-size: 1.6em;
  color: #222;
  display: inline-block;
  font-family: "Nanum Gothic";
  line-height: 1;
}
#header .group-search .weather-area .data .temper span {
  font-size: 1rem;
}
#header .group-search .weather-area .air {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem;
  font-size: 12px;
  color: #222;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1;
}
#header .group-search .weather-area .air .dust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 12px;
  margin: 2px 0;
}
#header .group-search .weather-area .air .dust span {
  color: #666;
}
#header .group-search .weather-area .air .dust em {
  color: #222;
  font-weight: 500;
}

#footer {
  background-color: #393c41;
  padding: 2.25rem 0;
  width: 100%;
  min-width: 1190px;
}
#footer .sc-relate .relate-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem 1rem;
}
#footer .sc-relate .relate-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#footer .sc-relate .relate-item .on::after {
  border-bottom-color: transparent;
  border-top-color: #fff;
  margin-top: 14px;
}
#footer .sc-relate .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #fff;
  line-height: 44px;
  padding: 0 20px;
  background-color: #2c3131;
  border-radius: 0.25rem;
}
#footer .sc-relate .title::after {
  content: "";
  width: 7px;
  border: 7px solid rgba(0, 0, 0, 0);
  border-bottom-color: #fff;
}
#footer .sc-relate .sub-wrap {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
}
#footer .sc-relate .sub {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
#footer .sc-relate .sub .sub-title {
  display: block;
  color: #336;
  font-size: 22px;
  line-height: 24px;
  padding: 10px 0 15px;
  border-bottom: 2px solid #336;
  font-weight: 600;
}
#footer .sc-relate .sub ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}
#footer .sc-relate .sub li {
  width: 20%;
}
#footer .sc-relate .sub li a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 0;
}
#footer .sc-relate .sub li a:hover {
  text-decoration: underline;
}
#footer .group-info .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 1.5rem 0 0 0;
}
#footer .group-info .top .detail-area .corp-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
#footer .group-info .top .detail-area .corp-item {
  position: relative;
}
#footer .group-info .top .detail-area .corp-item a {
  padding: 0.25rem 0;
  border: 2px solid rgba(0, 0, 0, 0);
  color: #fff;
}
#footer .group-info .top .detail-area .corp-item a strong {
  color: #f7b02a;
}
#footer .group-info .top .detail-area .corp-item + .corp-item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -0.625rem;
  width: 1px;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #777;
}
#footer .group-info .top .mark-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
#footer .group-info .top .mark-area .link-flag {
  display: block;
  width: 124px;
  height: 40px;
  background-image: url("../images/footer-logo-koreansymbol.png");
}
#footer .group-info .top .mark-area .link-webaccessibility {
  display: block;
  width: 68px;
  height: 41px;
  background-image: url("../images/footer-logo-webaccess.png");
}
#footer .group-info .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 1.25rem 0 0 0;
}
#footer .group-info .bottom .detail-area .addr {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.05em;
}
#footer .group-info .bottom .detail-area .copy {
  display: block;
  margin-top: 1rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0;
  opacity: 0.5;
}
#footer .group-info .bottom .mark-area .link-cs {
  display: block;
  width: 245px;
  height: 46px;
  background-image: url("../images/footer-logo-michugol.png");
}

.swiper {
  position: relative;
  border-radius: 1rem;
  border: 1px solid #e2e8fc;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(12, 24, 58, 0.13);
          box-shadow: 0 0.25rem 0.25rem rgba(12, 24, 58, 0.13);
}
.swiper .control-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 2.25rem;
  color: #fff;
  padding: 0 1.5rem;
  border-radius: 0px 0px 1rem 1rem;
  background-color: rgba(45, 53, 72, 0.9);
  z-index: 2;
}
.swiper .control-bar .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  font-size: 0.8rem;
}
.swiper .control-bar .more::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/main-slider-viewall.png") no-repeat center;
}
.swiper .control-bar .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: #fff;
}
.swiper .control-bar .control .fraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.swiper .control-bar .control .fraction .swiper-pagination-current {
  font-weight: 600;
  color: #f7b02a;
}
.swiper .control-bar .control .fraction .swiper-pagination-total::before {
  content: "-";
  margin-right: 0.5rem;
}
.swiper .control-bar .control .navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper .control-bar .control .navi button {
  width: 24px;
  height: 24px;
}
.swiper .control-bar .control .navi button.btn-prev {
  background: url("../images/main-slider-nav-prev.png") no-repeat center;
}
.swiper .control-bar .control .navi button.btn-next {
  background: url("../images/main-slider-nav-next.png") no-repeat center;
}
.swiper .control-bar .control .navi button.btn-auto {
  background: url("../images/icon-play.png") no-repeat center/10px;
}
.swiper .control-bar .control .navi button.btn-auto.play {
  background: url("../images/main-slider-control-stop.png") no-repeat center;
}
.swiper .control-bar .control .navi .auto-wrap {
  position: relative;
}
.swiper .control-bar .control .navi .auto-wrap button {
  display: none;
}
.swiper .control-bar .control .navi .auto-wrap button.on {
  display: block;
}
.swiper .control-bar .control .navi .auto-wrap button img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.swiper .control-bar .control .navi .auto-wrap .btn-play img {
  width: 10px;
}

.control-btn [class*=btn-] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  z-index: 2;
}
.control-btn .btn-prev {
  left: -2rem;
  background: url("../images/slider-arrow-left.png") no-repeat center/cover;
}
.control-btn .btn-next {
  right: -2rem;
  background: url("../images/slider-arrow-right.png") no-repeat center/cover;
}

#container {
  padding-top: 300px;
}

.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  height: auto;
  padding: 0.25rem 0 1rem 0;
}
.content1 .sc-event {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content1 .sc-mayor {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.content1 .sc-mayor .mayor-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 288px;
  border: 1px solid #e2e8fc;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(12, 24, 58, 0.13);
          box-shadow: 0 0.25rem 0.25rem rgba(12, 24, 58, 0.13);
}
.content1 .sc-mayor .mayor-area img {
  width: 100%;
  height: auto;
}
.content1 .sc-mayor .link-area {
  background-color: #e5667e;
  border-radius: 1rem;
  margin-top: 1rem;
}
.content1 .sc-mayor .link-area .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.875rem 0.625rem;
}
.content1 .sc-mayor .link-area .link-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content1 .sc-mayor .link-area .link-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  height: 24px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}
.content1 .sc-mayor .link-area .link-item a::before {
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.content1 .sc-mayor .link-area .link-item a::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/mayor-arrow_forward.png") no-repeat center;
}
.content1 .sc-mayor .link-area .link-item:nth-child(1) a::before {
  background-image: url("../images/mayor-link-mayoroffice.png");
}
.content1 .sc-mayor .link-area .link-item:nth-child(2) a::before {
  background-image: url("../images/mayor-link-manifesto.png");
}
.content1 .sc-mayor .link-area .link-item:nth-child(3) a::before {
  background-image: url("../images/mayor-link-message.png");
}
.content1 .sc-mayor .link-area .link-item + .link-item {
  position: relative;
}
.content1 .sc-mayor .link-area .link-item + .link-item::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.4);
}

.sc-service {
  padding: 2.5rem 0;
}
.sc-service .headline {
  margin-bottom: 0.625rem;
}
.sc-service .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-service .service-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 4.8rem;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}
.sc-service .service-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.sc-service .service-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.sc-service .service-item [class*=ico-] {
  position: relative;
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 69px 68px;
}
.sc-service .service-item .ico-tour {
  background-image: url("../images/main-service-02_tour.png");
}
.sc-service .service-item .ico-job {
  background-image: url("../images/main-service-03_job.png");
}
.sc-service .service-item .ico-group {
  background-image: url("../images/main-service-04_organization.png");
}
.sc-service .service-item .ico-commu {
  background-image: url("../images/main-service-05_cool.png");
}
.sc-service .service-item .ico-complain {
  background-image: url("../images/main-service-06_minwon.png");
}
.sc-service .service-item .ico-incheon {
  background-image: url("../images/main-service-07_smartcity.png");
}
.sc-service .service-item .ico-youth {
  background-image: url("../images/main-service-08_youth.png");
}
.sc-service .service-item .ico-water {
  background-image: url("../images/main-service-09_water.png");
}
.sc-service .service-item .ico-pay {
  background-image: url("../images/main-service-10_tax.png");
}
.sc-service .service-item .ico-digital {
  background-image: url("../images/main-service-11_digitalcityhall.png");
}
.sc-service .service-item .ico-custom {
  background-image: url("../images/main-service-12_icbenefit.png");
}
.sc-service .service-item .ico-budget {
  background-image: url("../images/main-service-13_budget.png");
}
.sc-service .service-item .name {
  line-height: 1.2;
  color: #555;
}

.sc-keyword {
  background-color: #f7f7f7;
  background-image: url("../images/hotkeyword-back.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 1.875rem 0;
  border-radius: 0.75rem;
}
.sc-keyword .keyword-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem;
}
.sc-keyword .keyword-item a {
  padding: 0.25rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 2.5rem;
  color: #555;
  white-space: nowrap;
}

.content2 {
  padding: 3.25rem 0 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}
.content2 .sc-news {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 368px;
}
.content2 .sc-news .news-wrap-list {
  position: relative;
}
.content2 .sc-news .news-wrap-list .news-wrap-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .wrap-title {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #333;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 0.5rem;
  z-index: 10;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area {
  position: relative;
  display: none;
  height: 308px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-top: 4px;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #ddd;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .main-box .today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.625rem;
  padding: 1rem 1.25rem;
  background-color: #f4f4f4;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .main-box .today .m {
  font-size: 0.925rem;
  line-height: 1;
  margin-bottom: 0.25rem;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .main-box .today .d {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .main-box .plan {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: calc(100% - 7rem);
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .main-box .plan .title {
  display: block;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .main-box .plan .text {
  display: -webkit-box;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.4;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .sub-box {
  padding: 0.5rem 0;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .sub-box .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .sub-box .news-item a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 0.25rem;
  width: calc(100% - 0.25rem);
  line-height: 1;
  color: #555;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .sub-box .news-item .title {
  color: #555;
  font-weight: 400;
  font-size: 1.08rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .sub-box .news-item time {
  width: 90px;
  font-size: 15px;
  color: #666;
  font-weight: 400;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .sub-box .news-item::before {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background-color: #ddd;
}
.content2 .sc-news .news-wrap-list .news-wrap-item .content-area .link-more {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(calc(-100% - 0.5rem));
          transform: translateY(calc(-100% - 0.5rem));
  width: 40px;
  height: 40px;
  background: url("../images/btn-view-more.png") no-repeat center;
}
.content2 .sc-news .news-wrap-list .news-wrap-item.on .wrap-title {
  font-weight: 600;
  color: #0053b5;
  position: relative;
  border-bottom: 1px solid #005385;
}
.content2 .sc-news .news-wrap-list .news-wrap-item.on .wrap-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -0.625rem;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: #005385;
}
.content2 .sc-news .news-wrap-list .news-wrap-item.on .content-area {
  display: block;
}
.content2 .sc-news .news-wrap-list .news-wrap-item:nth-child(2) .wrap-title {
  left: 5.35rem;
}
.content2 .sc-news .news-wrap-list .news-wrap-item:nth-child(3) .wrap-title {
  left: 11.45rem;
}
.content2 .sc-news .news-wrap-list .news-wrap-item:nth-child(4) .wrap-title {
  left: 19.75rem;
}
.content2 .sc-news .news-wrap-list .news-wrap-item:nth-child(5) .wrap-title {
  left: 25.75rem;
}
.content2 .sc-news .news-wrap-list .news-wrap-item:last-child .wrap-title {
  left: 31.325rem;
  padding-right: 19px;
  background: url("../images/icon-linkHttp.png") no-repeat center;
  background-size: 10px 10px;
  background-position: 100% 50%;
}
.content2 .sc-recru {
  width: 495px;
  height: 308px;
}
.content2 .sc-recru .headline {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
.content2 .sc-recru .contents {
  position: relative;
}
.content2 .sc-recru .contents .swiper {
  height: 308px;
  border-radius: 0.5rem;
}

.sc-field {
  width: 100%;
  min-width: 1172px;
  background-color: #f3f8fb;
  padding: 2.5rem 0;
}
.sc-field .headline {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}
.sc-field .field-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sc-field .field-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sc-field .field-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.sc-field .field-item a .title {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  line-height: 1.25;
}
.sc-field .field-item [class*=ico-] {
  width: 80%;
  height: 6rem;
  background-color: #e6f3f3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1.875rem;
}
.sc-field .field-item .ico-traffic {
  background-image: url("../images/main-field-traffic.png");
}
.sc-field .field-item .ico-ocean {
  background-image: url("../images/main-field-ocean.png");
}
.sc-field .field-item .ico-culture {
  background-image: url("../images/main-field-culture.png");
}
.sc-field .field-item .ico-build {
  background-image: url("../images/main-field-build.png");
}
.sc-field .field-item .ico-eco {
  background-image: url("../images/main-field-eco.png");
}
.sc-field .field-item .ico-health {
  background-image: url("../images/main-field-health.png");
}
.sc-field .field-item .ico-welfare {
  background-image: url("../images/main-field-welfare.png");
}
.sc-field .field-item .ico-safe {
  background-image: url("../images/main-field-safe.png");
}
.sc-field .field-item .ico-env {
  background-image: url("../images/main-field-env.png");
}
.sc-field .field-item .ico-pub {
  background-image: url("../images/main-field-pub.png");
}

.sc-cityzen {
  padding: 1rem 0 0 0;
}
.sc-cityzen .header-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
.sc-cityzen .header-area .title {
  width: 198px;
  height: 72px;
  background: url("../images/main-citizen-title.png") no-repeat center;
}
.sc-cityzen .header-area .cityzen-control-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sc-cityzen .header-area .cityzen-control-btn button {
  width: 2.5rem;
  height: 2.5rem;
}
.sc-cityzen .header-area .cityzen-control-btn .btn-prev {
  background: url("../images/slider-arrow-left.png") no-repeat center/cover;
}
.sc-cityzen .header-area .cityzen-control-btn .btn-auto {
  background: url("../images/slider-control-play.png") no-repeat center/cover;
}
.sc-cityzen .header-area .cityzen-control-btn .btn-auto.play {
  background: url("../images/slider-control-stop.png") no-repeat center/cover;
}
.sc-cityzen .header-area .cityzen-control-btn .btn-next {
  background: url("../images/slider-arrow-right.png") no-repeat center/cover;
}
.sc-cityzen .content-area .swiper {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sc-cityzen .content-area .swiper .swiper-slide {
  border-radius: 0.75rem;
  border: 1px solid #ddd;
  overflow: hidden;
}
.sc-cityzen .content-area .swiper .swiper-slide .text-box {
  padding: 1.25rem;
}
.sc-cityzen .content-area .swiper .swiper-slide .text-box .point {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #0054c8;
  background-color: #e5f0ff;
  border-radius: 0.25rem;
  padding: 0.5rem 0.625rem;
}
.sc-cityzen .content-area .swiper .swiper-slide .text-box .desc {
  font-size: 1rem;
  height: 2.8rem;
  color: #333;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0.25rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.sc-cityzen .content-area .swiper .swiper-slide:nth-child(4n+1) .point {
  color: #937100;
  background-color: #fff2c6;
}
.sc-cityzen .content-area .swiper .swiper-slide:nth-child(4n+2) .point {
  color: #0054c8;
  background-color: #e5f0ff;
}
.sc-cityzen .content-area .swiper .swiper-slide:nth-child(4n+3) .point {
  color: #179300;
  background-color: #e1fcdc;
}
.sc-cityzen .content-area .swiper .swiper-slide:nth-child(4n+4) .point {
  color: #ca261c;
  background-color: #ffe2e0;
}
.sc-cityzen .content-area .swiper .pagination {
  text-align: center;
  padding: 0.625rem 0;
}
.sc-cityzen .content-area .swiper .pagination .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #c4c4c4;
}
.sc-cityzen .content-area .swiper .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #007aff;
  border: 2px outset #554b39;
}
.sc-cityzen .content-area .ityzen-control-btn {
  position: absolute;
  top: -40px;
  right: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.sc-cityzen .content-area .ityzen-control-btn .swiper-button-prev {
  width: 40px;
  height: 40px;
  background: url("../images/slider-arrow-left.png") no-repeat;
  background-size: contain;
}
.sc-cityzen .content-area .ityzen-control-btn .btn-play {
  width: 40px;
  height: 40px;
  background: url("../images/btn-view-more.png") no-repeat;
  background-size: contain;
}
.sc-cityzen .content-area .ityzen-control-btn .swiper-button-next {
  width: 40px;
  height: 40px;
  background: url("../images/slider-arrow-right.png") no-repeat;
  background-size: contain;
}

.content3 {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.content3 section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.content3 section .head {
  margin-bottom: 0.5rem;
  height: 40px;
}
.content3 section .content {
  display: block;
  position: relative;
  height: 229px;
  border-radius: 0.75rem;
  overflow: hidden;
}
.content3 section .content img {
  width: 100%;
  height: auto;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content3 section .content .desc {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.625rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content3 section .link-more {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url("../images/btn-view-more.png") no-repeat center/contain;
}

.sc-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  margin-bottom: 2.5rem;
}
.sc-sns .headline {
  position: relative;
  width: 215px;
  height: 45px;
  background: url("../images/main-sns-title.png") no-repeat center;
}
.sc-sns .headline::after {
  content: "";
  position: absolute;
  left: 230px;
  right: 340px;
  top: 50%;
  width: 602px;
  height: 2px;
  background-color: #d8e1fb;
}
.sc-sns .sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}
.sc-sns .sns-item a {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
}
.sc-sns .sns-item:nth-child(1) a {
  background-image: url("../images/insta.png");
}
.sc-sns .sns-item:nth-child(2) a {
  background-image: url("../images/facebook.png");
}
.sc-sns .sns-item:nth-child(3) a {
  background-image: url("../images/youtube.png");
}
.sc-sns .sns-item:nth-child(4) a {
  background-image: url("../images/twitter.png");
}
.sc-sns .sns-item:nth-child(5) a {
  background-image: url("../images/kakaostory.png");
}
.sc-sns .sns-item:nth-child(6) a {
  background-image: url("../images/blog.png");
}
.sc-sns .sns-item:nth-child(7) a {
  background-image: url("../images/post.png");
}

.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  background: url("../images/btn_top.png") no-repeat center/cover;
}/*# sourceMappingURL=style.css.map */